body {
    background: grey;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px red solid;
}

#content    {
    border: 2px solid blue;
    width: 960px;
    margin: 50px auto;
    padding: 0px 25px;
    line-height: 1.5rem;
}

#bioImage   {
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 15px;
}